body {
  text-align: center;
  background-color: #4158D0;
  background: linear-gradient(to top right, #fcde30, #E9712a, #d2313b, #ae4198, #5443a8);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  top: 400px;
}
.title1{
	font-size: 60px;
	width: 100%;
	position: absolute;
	top: 50%;
	
	transform:  translateY(-50%);
	text-align: center;
}